<label for="busquedaId"></label>
<input type="text" name="busqueda" id="busquedaId" [(ngModel)]="busquedaModelo">
<button (click)="filtrarArreglo()">
Buscar
</button>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cedula</th>
        <th>Acciones</th>
    </tr>
    <tr *ngFor="let usuario of arregloUsuarios">
        <td>{{usuario.id}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.cedula}}</td>
        <td>
            <button (click)="irAEditarUsuario(usuario.id)">Editar</button>
            <button (click)="eliminarUsuario(usuario.id)">Eliminar</button>
        </td>
    </tr>
</table>